h1{
    margin: 0px auto;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: aqua;
    border: 10px solid red;
    box-shadow: 10px 10px 5px rgba(49, 48, 47, 0.89);
}
